<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dic</title>
    <link rel="stylesheet" href="/bootstrap.css">

</head>
<body>
<nav class="navbar navbar-dark bg-custom-2">
    <a class="navbar-brand" href="/">I HANGUL</a>
</nav>
<div class="customDiv-info-text">
    알고 싶은 단어를 클릭하세요
</div>

<form action="/dic" method="POST">
    <!--// 문장을 버튼으로 출력하는 코드-->
    <div class="customDiv-buttonBox">
        <% for(var i = 0; i < text.length; i++) {%>
            <button class="customBtn-dic-words" id="buttonID" name="buttonName" value="<%= text[i] %>"><%= text[i] %></button>
        <% } %>
    </div>
</form>
<div class="container" id=containerID></div>


</body>
</html>

