<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tts</title>
    <nav class="navbar navbar-dark bg-custom-2">
        <a class="navbar-brand" href="/">I HANGUL</a>
    </nav>
    <div class="customDiv-info-text">
        음성으로 듣고 싶은 문장을 클릭하세요
    </div>
    <link rel="stylesheet" href="/bootstrap.css">
    <!--// 문장을 버튼으로 출력하는 코드-->
    <% for(var i = 0; i < text.length; i++) {%>
        <button class="customBtn-tts-sentences" id="buttonID" value="<%= text[i] %>"><%= text[i] %></button>
    <% } %>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    //TTS start
    var TTStext = "안녕하십니까";

    $(document).on("click", "#buttonID", function () {
        TTStext = $(this).attr('value');
        //alert(TTStext);
        speak(TTStext, {
            rate: 1,
            pitch: 1.2,
            lang: "ko-KR"
        })
    })

    function speak(text, opt_prop) {
        if (typeof SpeechSynthesisUtterance === "undefined" || typeof window.speechSynthesis === "undefined") {
            alert("이 브라우저는 음성 합성을 지원하지 않습니다.")
            return
        }

        window.speechSynthesis.cancel() // 현재 읽고있다면 초기화

        const prop = opt_prop || {}

        const speechMsg = new SpeechSynthesisUtterance()
        speechMsg.rate = prop.rate || 3 // 속도: 0.1 ~ 10
        speechMsg.pitch = prop.pitch || 1.3 // 음높이: 0 ~ 2

        speechMsg.lang = prop.lang || "ko-KR"
        speechMsg.text = text

        // SpeechSynthesisUtterance에 저장된 내용을 바탕으로 음성합성 실행
        window.speechSynthesis.speak(speechMsg)
    }

    const btnRead = document.getElementById("btn-read")
    btnRead.addEventListener("click", e => {
        speak(TTStext, {
            rate: 1,
            pitch: 1.2,
            lang: "ko-KR"
        })
    })

</script>

</body>
</html>

